@model Category

<form method="post" asp-action="Edit">
    <div class="border p-3 m-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
             <hr />
        </div>
       @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.DisplayOrder"></label>
            <input asp-for="@Model.DisplayOrder" class="form-control" />
            <span asp-validation-for="@Model.DisplayOrder" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px"><i class="bi bi-archive"></i>Update</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary" style="width:150px"><i class="bi bi-arrow-left"></i>Back to List</a>
    </div>
</form>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial"/> }
}

